
img {
    width: 350px;
    }
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links, a:visited {
    display: flex;
    list-style-type: none; 
    color: black;   
}
.nav-item {
    display: flex;
    margin-left: 20px;
}
.nav-item:visited {
    color: black;
}

    /* 
.f1 {
    font-size: 2em;
    }

.f2 {
    font-size: 1.5em;
    } */
